<html>
	<head>
		<title>Arduino Graph</title>
		<style>
		
		.x.axis line {
		  shape-rendering: auto;
		}
		
		.line {
		  fill: none;
		  stroke: #000;
		  stroke-width: 1.5px;
		}
		tr {
			background-color:#eee;
		}
		td {
			padding:0px;
			width:0px;
			width: 60px;
			text-align:center;
		}
		td.header {
			width: 90px;
			font-weight:bold;
			text-align:left;
		}		
		
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
		<script src="http://d3js.org/d3.v2.min.js?2.8.1"></script>
		<script src="/static/arduino-graph.js"></script>
	</head>
	<body>
		<div id="graphHolder"></div>
		<div id="buttons">
			<button onclick="console.log(Date.now(), JSON.stringify(latest), latest);">Log State</button>
		</div>
		<script>
			var n = 300;

			function chart(title, ydomain, xdomain, interpolation, dataFn) {
				var data = d3.range(n).map(function() { return (ydomain[1]-ydomain[0])/2; });
	
				var margin = {top: 5, right: 0, bottom: 5, left: 100},
					width = 450 - margin.right,
					height = 90 - margin.top - margin.bottom;
	
				var x = d3.scale.linear()
					.domain(xdomain)
					.range([0, width]);
	
				var y = d3.scale.linear()
					.domain(ydomain)
					.range([height, 0]);
	
				var line = d3.svg.line()
					.interpolate(interpolation)
					.x(function(d, i) { return x(i); })
					.y(function(d, i) { return y(d); });
	
				var tr = d3.select("#graphHolder")
					.append("table")
					.attr("cellpadding", "0")
					.attr("cellspacing", "0")
					.append('tr');
				var header = tr.append('td').attr('class', 'header').html(title);
				
				var svg = tr.append('td').attr('class', 'graph').append("svg")
					.attr("width", width + margin.left + margin.right)
					.attr("height", height + margin.top + margin.bottom)
					.style("margin-left", -margin.left + "px")
					.append("g")
					.attr("transform", "translate(" + margin.left + "," + margin.top + ")");
		
				svg.append("defs").append("clipPath")
					.attr("id", "clip")
					.append("rect")
					.attr("width", width)
					.attr("height", height);
	
				svg.append("g")
					.attr("class", "y axis")
	      			.call(d3.svg.axis().scale(y).ticks(5).orient("left"));
	
				var footer = tr.append('td').html("0")
				var maxVal = tr.append('td').html((ydomain[1]-ydomain[0])/2);
				var minVal = tr.append('td').html((ydomain[1]-ydomain[0])/2);
				
				var path = svg.append("g")
					.attr("clip-path", "url(#clip)")
					.append("path")
					.data([data])
					.attr("class", "line")
					.attr("d", line);
	
				var tick = function(path, line, data, x) {
				
					// push a new data point onto the back
					newPoint = dataFn();
					data.push(newPoint);
					
					footer.html(newPoint);
					if (newPoint > parseInt(maxVal.html())) {
						maxVal.html(newPoint);
					}
					if (newPoint < parseInt(minVal.html())) {
						minVal.html(newPoint);
					}
					
					// redraw the line, and then slide it to the left
					path.attr("d", line)
						.attr("transform", null)
					    .transition()
					    .duration(100)
					    .ease("linear")
					    .attr("transform", "translate(" + x(0) + ")")
					    .each("end", function() { tick(path, line, data, x);});
					
					// pop the old data point off the front
					data.shift();
				};
				tick(path, line, data, x);
				
			}
			
			$(function() {
				//getData();
				pollData();
				//chart("gx", [-32768, 32768], [1, n - 2], "basis", function() {return latest.gx;});
				//chart("gy", [-32768, 32768], [1, n - 2], "basis", function() {return latest.gy;});
				//chart("gz", [-32768, 32768], [1, n - 2], "basis", function() {return latest.gz;});
				//chart("ax", [-512, 512], [1, n - 2], "basis", function() {return latest.ax;});
				//chart("ay", [-512, 512], [1, n - 2], "basis", function() {return latest.ay;});
				//chart("az", [-512, 512], [1, n - 2], "basis", function() {return latest.az;});				
				chart("dcx", [0, 360], [1, n - 2], "basis", function() {return calcCompassDegrees(latest.acx, latest.acy, [0, 65536]);});
				chart("dcy", [0, 360], [1, n - 2], "basis", function() {return calcCompassDegrees(latest.acy, latest.acz, [0, 65536]);});
				chart("dcz", [0, 360], [1, n - 2], "basis", function() {return calcCompassDegrees(latest.acz, latest.acx, [0, 65536]);});

				chart("acx", [0, 65536], [1, n - 2], "basis", function() {return latest.acx});
				chart("acy", [0, 65536], [1, n - 2], "basis", function() {return latest.acy});
				chart("acz", [0, 65536], [1, n - 2], "basis", function() {return latest.acz});
			});
		</script>
	</body>
</html>
		